.box {
  border-radius: 10px;
  margin-top: -100px;
  font-weight: bold;
  font-size: 18px;
  width: 30%;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Maple Mono SC NF Freeze";
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  flex: 0.1;
}
